:root {
    --accent-color: rgb(11, 149, 0);
    --hover-color: rgb(140, 177, 136);
    --link-color: rgb(138, 220, 133);
}

#mainVideo {
    position: relative;
    right: 0;
    top: 0;
    min-width: 100%;
    opacity: 50%;
    padding:0px;
    margin:0px;
    width: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
}

.infoPanel {
    position: absolute;
    right: 15%;
    top: 20vw;
    padding:10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);


}

.infoPanel a{
    display:block;
    padding-bottom:20px;
    font-size: 20px;
    cursor: pointer;
}

.activeShowcase {
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 3px;
    color: white;
}


@media screen and (max-width: 900px) {
    .infoPanel {
        position: relative;
        text-align: center;
        right: 0;
        border-radius: 0px;
        top:10vh;
        padding:10px;
    }
}

.topnav {
    z-index: 999;
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    padding-right: 15%;
    padding-left: 15%;
    width: 70%;
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.topnav a:hover {
    color: var(--hover-color);
}

.topnav a.active {
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 3px;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        padding-right: 15%;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.nameText{
    font-size: 25px;
    color: #f2f2f2;
}

.aboutSection{
    position: relative;
    text-align: center;
    top:10vh;
    padding:10px;
    width: 70%;
    margin-bottom:15vh;
    left:15%;
}



.blog{
    text-align: center;
    position:relative;
    top:10vh;
    left: 25%;
    width: 50%;
    padding-bottom: 10vh;
}

body {
    color: white;
}

h1{
    color:white;
}

p{
    color:white;
}

.blog a{
    color: var(--link-color)
}

.slideshow a{
    color: var(--link-color)
}

h3{
    color:white;
}

.slideshow img {
    vertical-align: middle;
}

.slideshow video {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.slideshow {
    position: relative;
    width: 80%;
    left:10%;
}

/* Position the image container (needed to position the left and right arrows) */
.mainSlideshow {
    position: relative;
    width: 80%;
    left:10%;
}
.mainSlideshow a{
    color: var(--link-color)
}

.mainSlideshowNavBars{
    position: absolute;
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    bottom: 0;
}


.mainSlideshowNavBar{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    width:30px;
    height:10px;
    margin:10px;
}


.activeNavBar{
    background-color: rgba(0, 0, 0, 0.82);
    border-radius: 2px;
    width:30px;
    height:10px;
    margin:10px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

.mainSlideshow .prev{
    top:50%;
}

.mainSlideshow .next{
    top:50%;
}
.side-image{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: flex-start;
    align-content: center;
    margin-left:auto;
    margin-right:auto;
}@media screen and (max-width: 850px) {
    .side-image{
        flex-direction: column;
        align-items: center;
    }
}

/* Container for image text */
.main-caption-container {
    position:absolute;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.73);
    border-radius: 10px;
    color: white;
    width: 80%;
    left: 10%;
    bottom:5%
}

@media screen and (max-width: 1000px) {
    .main-caption-container {
        position:relative;
    }
}
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.4);
}


/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.activeSlide,
.demo:hover {
    opacity: 1;
}

.cardsContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.card {
    /*margin: auto;  !* Magic! *!*/
    flex-grow: 0;
    flex-shrink: 0;
    margin: 10px;
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    background-color: #222222;
}

.card a{
    text-decoration: none;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(117, 241, 116, 0.2);
    cursor:pointer;
}

img {
    border-radius: 5px 5px 0 0;
}

.cardContainer {
    padding: 2px 16px;
}

a{
    color: var(--link-color)
}


.bottomBar{
    position:relative;
    width:70%;
    padding: 10px 15% 50px  15%;
    background-color: #101010;
}

button{
    cursor:pointer;
    padding:10px;
    background-color: rgba(0, 0, 0, 0.66);
    box-shadow: 0 0 10px 3px rgba(117, 241, 116, 0.2);
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0);
    color: var(--link-color)
}

button:hover{
    box-shadow: 0 0 10px 3px rgba(142, 213, 142, 0.65);
}


input{
    cursor:pointer;
    padding:10px;
    background-color: rgba(0, 0, 0, 0.66);
    box-shadow: 0 0 10px 3px rgba(117, 241, 116, 0.2);
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0);
    color: var(--link-color)
}

input:hover{
    box-shadow: 0 0 10px 3px rgba(142, 213, 142, 0.65);
}